<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movie Recommender</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}" defer></script> 
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  <body>

    <main>
        <div class="feed">
            <div class="ask485">
                MovRec
            </div>

            <form action="/" method="GET">
                <div><input type="text" name="q" value="{{q}}"/></div>
                <div id="weights">
                    <div class="flex-item">
                        <div class="pagerank_weight">Full Plot Weight: <span id="fpwval">{{fp_w}}</span></div>
                        <div><input id="fpwrange" type="range" name="fp_w" min=1 max=5 step=1 value="{{fp_w}}"/></div>
                    </div>
                    
                    <div class="flex-item">    
                        <div class="pagerank_weight">Summary Weight: <span id="swval">{{s_w}}</span></div>
                        <div><input id="swrange" type="range" name="s_w" min=1 max=5 step=1 value="{{s_w}}"/></div>
                    </div>
                    
                    <div class="flex-item">
                        <div class="pagerank_weight">Director Weight: <span id="dwval">{{d_w}}</span></div>
                        <div><input id="dwrange" type="range" name="d_w" min=1 max=5 step=1 value="{{d_w}}"/></div>
                    </div>
                    
                    <div class="flex-item">
                        <div class="pagerank_weight">Cast Weight: <span id="cwval">{{c_w}}</span></div>
                        <div><input id="cwrange" type="range" name="c_w" min=1 max=5 step=1 value="{{c_w}}"/></div>
                    </div>
                    
                    <div class="flex-item">
                        <div class="pagerank_weight">Release Year Weight: <span id="ywval">{{y_w}}</span></div>
                        <div><input id="ywrange" type="range" name="y_w" min=1 max=5 step=1 value="{{y_w}}"/></div>
                    </div>

                    <div class="flex-item">
                        <div class="pagerank_weight">Genre Weight: <span id="gwval">{{g_w}}</span></div>
                        <div><input id="gwrange" type="range" name="g_w" min=1 max=5 step=1 value="{{g_w}}"/></div>
                    </div>
                </div>
                <input type="submit" value="Recommend"/>
            </form>

            <div class="docs">
                {% if noresults %}
                    <div class="noresults">No recommendations found!</div>
                {% else %}
                    {% for recommendation in recommend %}
                        <div class="recommendation">
                            <div class="rec_title"><b>{{recommendation.name}}</b></h2></div>
                            <div class="rec_details"><b>Genres</b>: {{recommendation.genres}} | <b>Release Year</b>: {{recommendation.year}}</div>
                            <div class="rec_summary">{{recommendation.summary}}</div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </main>

	<script src="index.js"></script>
  </body>
</html>